* {
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #dfe6e9;
    font-size: 16px;
    line-height: 1.2;
}

.container {
    max-width: 1024px;
    background: transparent;
    border: none;
    resize: none;
    color: rgb(82, 82, 82);
    padding: 10px;
    letter-spacing: 1px;
    
    
}

.col-md-1hour{
    color: #ed7272;
    padding: 15px;
    justify-content: space-between;

}

.col-md-10 {
    columns: auto;
}

#clearbtn {
    background: rgb(242, 242, 240);
    padding: 10px;
    
}

#savebtn {
    border-left: 1px solid rgb(82, 82, 82);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: whitesmoke;
    background: linear-gradient(to right, #ed7272, #8578e9);
}
#savebtn:hover {
    cursor: pointer;
    font-size: 17px;
    transition: all 0.2s ease-in-out;
}

.input {
    background: transparent;
    border: none;
    resize: none;
    color: rgb(82, 82, 82);
    padding: 10px;
    letter-spacing: 1px;
}

.jumbotron {
    background: linear-gradient(to right, #ed7272, #8578e9);
    text-align: center;
    color: whitesmoke;
    border-radius: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    border-bottom: 10px solid rgb(82, 82, 82);
}

.decscription {
    white-space: pre-wrap;
    height: 80px;
    font-weight: 600;
}

.time-block {
    text-align: center;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
}

.hour {
background: #fcf0c8;
color: rgb(82, 82, 82);
padding-top: 27px;
padding-left: 10px;
font-size: 20px;
font-weight: 500;
}

.past {
    background-color: rgb(255, 219, 219);
    border-radius: 15px;
    color: black;
}

.present {
    background-color: rgb(162, 223, 162);
    border-radius: 15px;
}

.future {
    background-color: #9de4f4;
}
@media (max-width: 872px) {
    .container {
      display: none;
    }
}